body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(#3d0066, #ec0868);
    color: #eec7fc;
    font-size: larger;
    font-weight: bold;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

#baby-img {
    width: 250px;
    border-radius: 10%;
    border: 6px solid #ec0868;
    margin-bottom: 10px;
}

#how-old {
    background: #ec0868;
    padding: 5px 10px;
    border-radius: 50%;
    margin: 5px 0 10px 0;
    width: 200px;
}

#dob {
    margin: 0;
    background: #ec0868;
    padding: 5px 10px;
    border-radius: 50%;
    width: 150px;
    margin-top: 20px;
    font-size: 25px;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.surprise {
    margin-top: 50px;
}

.surprise-text {
    margin-bottom: 10px;
}

.surprise-hint {
    margin-top: 0;
}

#surprise-pic-dream {
    height: 200px;
}

.surprise-pic {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid #ec0868;
    border-radius: 10%;
    background-image: url("images/presentcover.jpeg");
    background-size: cover;
}

#surprise-pic-excited:hover {
    background-image: url("images/excited.gif");
}

#surprise-pic-penguin:hover {
    background-image: url("images/penguin.gif");
}

#surprise-pic-good:hover {
    background-image: url("images/good.gif");
}

#surprise-pic-proud:hover {
    background-image: url("images/proudmama.gif");
}

#surprise-pic-dream:hover {
    background-image: url("images/dream.gif");
}
#secret {
    color: blue;
}
